<%- include('../includes/head.ejs') %>

    <h1>add products</h1>

    <form action="/add-product" method="post">
        <input type="text" name="title" id="">
        <button type="submit">add</button>
    </form>
</body>

</html>